<div class="post-addvertisment"> 


<div class="container" *ngIf="!this.isLoggedIn"> 

        <label for="Subject">District</label>
        <div class="form-group">
            <p-dropdown [style]="{'width':'1090px'}" [options]="cities1" [(ngModel)]="cat"></p-dropdown>
        </div>

        <div class="form-group">
          <label for="Subject">Title</label>
          <input type="text" class="form-control" id="name"  [(ngModel)]="subject" placeholder=" Add a best title for you addvertisment" required style="width: 1090px;">
        </div>
    

        <div class="form-group">
            <label for="Subject">Phone Number</label>
            <input type="text" class="form-control" id="phone"  [(ngModel)]="phone" placeholder=" Your best contact number" required style="width: 1090px;">
        </div>

        <div class="form-group">
            <label for="Subject">Address</label>
            <input type="text" class="form-control" id="address"  [(ngModel)]="address" placeholder=" Address of the land" required style="width: 1090px;">
        </div>

        <div class="form-group">
            <label for="Subject">Full Price</label>
            <input type="text" class="form-control" id="price"  [(ngModel)]="price" placeholder=" Full price of the land" required style="width: 1090px;">
        </div>

        <div class="form-group">
            <label for="Subject">Number of perchase</label>
            <input type="text" class="form-control" id="purchase"  [(ngModel)]="purchase" placeholder=" Number of purchase" required style="width: 1090px;">
        </div>

   <!--      <div class="form-group">
            <p-dropdown [options]="cities2" [(ngModel)]="selectedCity2" optionLabel="name"></p-dropdown>
        </div> 

        <div class="form-group">
            <span class="ui-float-label">
                <input id="float-input" type="text" size="30" pInputText> 
                <label for="float-input">Add Type</label>
            </span>
        </div>  -->

     <!--   <img src="http://159.65.148.244:20000/api/addPost/photos/60dcc2e5eee7e6199f42c204"/>-->

        <div class="form-group">
            <label for="file">Choose File</label>
            <input type="file" name="profile"  (change)="onFileSelect($event)">
        </div>


        <div class="form-group">
            <label for="Subject">Description</label>
           <span class="ui-float-label">
                <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="description" placeholder=" Description of the land"  style="width: 1090px;"></textarea>
            </span> 
        </div>

        <button pButton type="button" label="Submit" (click)="submitAdd()" style="background-color: #5cb85c; border-color:#4cae4c; width: 1090px;"></button>


</div>


  <div *ngIf="this.isLoggedIn">
  <p> Please Login with to post addvertisment</p>  
  </div>

</div>