<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div *ngFor="let item of adds; let i = index" class="addvertisment"   >

<div id="main">

<div class="col-md-6" class="imageCard"  >
    <p-card header="{{item.category}}" subheader="Address :  {{item.address}}" [style]="{width: '360px'}" styleClass="ui-card-shadow">
      <p-header>
            <img class="Card"  src="{{item.imageUrl}}" >
        </p-header> 
      <div> <p> <i class="fa fa-phone" style="font-size:24px;color:#4cae4c"></i>    {{item.phone}} </p></div>
  <!--    <div> {{item.address}} </div> -->
  
        <p-footer>
            <button pButton type="button" (click)="deleteThisAdd(item.subject)"  label="Delete This Add" icon="pi pi-check" style="margin-right: .25em" class="ui-button-danger"></button>
   
        </p-footer>
    </p-card>   
</div>

<!--<div class="col-md-8">
    <p-card>
        <div
            hi
        </div>
    </p-card>
</div>-->


<div class="col-md-6" class="descriptionCard" >
   
  <!--  <div> {{item.description}} </div>  -->

    <div class="card my-3">
    
        <div class="card-body">
            <h4 class="card-title">{{item.subject}}</h4>

     <!--    <p>Address: Bentota Horawala</p> -->
         <p>   Land type: Residential</p>
         <p>  Land size: {{item.purchase}} perches</p>

         <p> {{item.description}} </p>
 

         
         <p>  Email: {{item.publishedBy}} </p>


         <span class="tag">{{item.price}} LKR</span>


          <p class="card-text">Posted 1 days ago.</p>
        <!-- <button class="btn btn-primary" type="button">Button</button> -->
        </div>
    </div>


    <div class="form-group">
       <span class="ui-float-label">
        <input type="text" class="form-control" style="width: 700px;" id="alterEgo" placeholder="What do you need to know ? ..">
        </span> 
    </div>

   <!--  <img src="https://www.google.com/maps/place/Hungama/@6.1090183,80.9275623,16z/data=!4m5!3m4!1s0x3ae6b1057c4eeba3:0xbd130aff51bdd1b0!8m2!3d6.1099994!4d80.9320338"> -->

</div>


</div>



</div>




