<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



  <div class="container" style="width: 100%;" >
    <div class="row" >
      <div class="col-md-2 mx-auto my-5" *ngFor="let item of adds"   >

        <div class="addvertisment">

       

        <p-card header="{{item.category}}" subheader="Address :  {{item.address}}" [style]="{width: '300px'}"  styleClass="ui-card-shadow">
          <p-header>
                <img class="Card"  src="{{item.imageUrl}}" style="height: 200px">
            </p-header> 
          <div> <p> <i class="fa fa-phone" style="font-size:24px;color:#4cae4c"></i>    {{item.phone}} </p></div>
      <!--    <div> {{item.address}} </div> -->
      
            <p-footer *ngIf="routerUrl=='/advertisment'">
                <button pButton type="button" (click)="Follow(item.subject)" label="Follow" icon="pi pi-check" style="margin-right: .25em" class="ui-button-secondary"></button>
              <button pButton type="button" (click)="Cancel(item.subject)" label="Discount"  style="margin-right: .25em" class="ui-button-secondary"></button> 
                <button pButton type="button" (click)="MoreInfo(item.subject)" label="More" icon="pi pi-check" style="margin-right: .25em" class="ui-button-secondary"   data-toggle="modal" data-target="#myModal"></button>   
            </p-footer>
        </p-card> 
        
        
      </div>



       <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog" *ngIf="true" >
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <img class="Card"  src="{{item.imageUrl}}" style="height: 200px">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>





      </div>
    </div>
  </div>






 