



.addvertisment{
	margin: auto;
	width: 100%;
  /*  border: 3px solid #337ab7;*/
	padding: 3px;
/*	background-color: #FFFFFF; */
float: right;
}

.imageCard{
	margin-left: 10px;
/*	width: 60%;  */
}

.descriptionCard{
	margin-right: 10px;
	width: 40%;
}

#main {
	width: 780px;
  
	display: flex;
  
}

#main div {
	flex: 1;
}


.col {
	flex: 0 0 20%;
	max-width: 20%;
  }




.tag {
display: inline-block;

width: auto;
height: 38px;

background-color: #FFFFFF;
-webkit-border-radius: 3px 4px 4px 3px;
-moz-border-radius: 3px 4px 4px 3px;
border-radius: 3px 4px 4px 3px;

border-left: 1px solid #4cae4c;

/* This makes room for the triangle */
margin-left: 19px;

position: relative;

color: #4cae4c;
font-weight: 300;
font-family: 'Source Sans Pro', sans-serif;
font-size: 22px;
line-height: 38px;

padding: 0 10px 0 10px;
}

/* Makes the triangle */
.tag:before {
content: "";
position: absolute;
display: block;
left: -19px;
width: 0;
height: 0;
border-top: 19px solid transparent;
border-bottom: 19px solid transparent;
border-right: 19px solid #5cb85c;
}

/* Makes the circle */
.tag:after {
content: "";
background-color: white;
border-radius: 50%;
width: 4px;
height: 4px;
display: block;
position: absolute;
left: -9px;
top: 17px;
}



