.menu-bar{
    position: sticky;
   top: 0;
   z-index: 100; 
}

.content{
    flex-shrink: 1;
    flex-grow: 1;
    padding: 3px 5px;
    position: relative;
    overflow-y: auto;
  }

  .container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.search-div{
  position: absolute;
  right: 380px;
  top: 6px;
  width: 500px;
}

.post-add-div{
  position: absolute;
  right: 175px;
  top: 6px;
}


.custom-css{
  background-color:#F5F5F5; 
}

.custom-back-ground {
 /* background-image: url("assets/9a0987a15dafa80dea6aa23d5fde2b6d.jpg");  */
}




