<div class="container" style="width: 100%;">

<p-menubar [model]="items" class="menu-bar" [style]="{background: '#4cae4c'}" >  

<!--<div class="search-div">
  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;Search By Area , Price , Land Owner ">
</div>-->


<!-- 
<div class="post-add-div">
  <button type="button" class="btn btn-success" (click)="postAdd()">POST NEW ADD</button>
</div>
-->


 <div *ngIf="loggedIn===false">
  <div>
    <button  type="button" (click)="signInWithGoogle()" class="btn btn-light"><img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>  Login In With </button>
  </div>
</div>    
<div *ngIf="loggedIn===true">
  <img src="{{user.photoUrl}}" width="30px" height="30px"> 
  <button type="button" (click)="signOut()" class="btn btn-light">Logout</button>      
</div>
</p-menubar>





<!-- <app-legal-advices></app-legal-advices>  -->

<div class="content custom-css  custom-back-ground"  >
<router-outlet></router-outlet>
</div>



</div>
